@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:  "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
--basic-white: #ffffff;
--basic-blue: #81B3D2;
--basic-brown: #766357;
--basic-black:#000000;
--basic-grey: #333333;
}

/* Global */
 body {
  font-family: "PT Sans", "Arial", sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     color: var(--basic-black);
     margin: 0;
     padding: 0;
 }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

/*main-navigation*/

  .nav-link {
   font-weight: 700px;
   line-height: 26px;
   font-weight: bold;
   text-transform: uppercase;
   color: var(--basic-black);
   background-color: var(--basic-white);
}
.container {
  background-image: url("/img/background photo.jpg")
}

h1 {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);

}
.features-main {
  font-weight: 400px;
  line-height: 26px;
  color: var(--basic-grey);
}
/* Features */
.feature-subject-white {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.features-number-white{
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-text-white {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.dopfeature-title {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}
.dopfeature-text {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-grey);
}
.feature-subjec {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: #EEEEEE;
}
.feature-number {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;
}
.feature-text {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;

}
/*modal*/
.modal-strong {
  font-weight: 700px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.modal-info {
  font-weight: 400px;
  line-height: 24px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.button-search {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: #766357;

}
.search-label {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.search-btn-minus {
  color: #A9A9A9;;
  background-color: #F2F2F2;
}

.search-btn-plus{
  color: #A9A9A9;;
  background-color: #F2F2F2;
}
.search-input {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: #F2F2F2;;
}
.search-submit {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: #81B3D2;
}
/*contacts*/
.contacts {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}
.phone {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}
.phone-link {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}
.social-item {
  background-color: #81B3D2;
}
.social-link-twitter{
color: #EEEEEE;
}
.social-link-fb {
  color: #EEEEEE;
}
.social-link-ytb {
  color: #EEEEEE;
}
.copyright-text {
  font-weight: 400px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
}
/*parameters*/
.legend-parameters {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
 }
.label-pool {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.label-parking{
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.label-wi-fi {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.label-hotel {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.label-motel {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.label-apartments {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.legend-text {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}
.input-price {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
.search-submit-sum {
  font-weight: 400px;
  line-height: 21px;
  color: var(--basic-white);
}
/*div-info*/
.info-text {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.info-number {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.info-desc {
  font-weight: 400px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.item-price-link {
  font-weight: 400px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-white);
}
.item-type-link {
  font-weight: 400px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.item-rating-link {
  font-weight: 400px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*catalog-list*/
.catalog-item-name {
  font-weight: 700px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.catalog-text {
  font-weight: 400px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.catalog-price {
  font-weight: 400px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.desc-info-link {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.desc-check-link {
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.meta-text {
  font-weight: 400px;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2;
}
.meta-number {
  font-weight: 400px;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2;
}
