@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:  "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
--basic-white: #ffffff;
--basic-blue: #81B3D2;
--basic-brown: #766357;
--basic-black:#000000;
--basic-grey: #333333;
}

/* Global */
.page-body {
     min-width: 1200px;
     font-family: "PT Sans", "Arial", sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     color: var(--basic-black);
     margin: 0px;
     padding: 0px;
     min-height: 1200px;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;
     text-transform: uppercase;
     text-align: center;
}

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* Grid */

.page {
  height: 100%;
}


/*main-navigation*/


.site-navigation {
  display: flex;
  width: 1200px;
  list-style: none;
  margin: 0px;
  padding: 0px;

}
.nav-link-info {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 15px 134px 81px 72px;

}
.nav-link-foto {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 15px 418px 81px 0px;
}
.nav-link-map {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 15px 147px 81px 0px;
}
.nav-link-hotel {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Logo */
.main-header-logo {
 display: block;
 margin: 0 auto;
 width: 138px;


}
.main-header {
  width: 1200px;
}

.container {
  width: 1200px;
  margin: auto;
}

.section-desc-fon {
  background-image: url("../img/background_photo.jpg");
  width: 1200px;
  height: 509px;
}
.section-desc-img {
  display: block;
  width: 458px;
  margin: 0 auto;
}
h1 {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 42px 381px 22px 381;
}

h2 {
  display: none;
}
.features-main {
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-grey);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 22px 341px 51px 340px;
}
/* Features */
.features-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.feature-desc-img {
 margin: 0px;


}

.feature-item-wrap {
  display: grid;
  grid-template-columns: 400px 800px;
  height:256px ;


}
.feature-item-wrap-img {
  display: grid;
  grid-template-columns:  800px 400px;
}
h3.feature-subject-white-one {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 47px 139px 25px 139px ;

}
.features-number-white {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 174px 23px 175px;
}
.feature-text-white-one {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 51px 54px 52px;
}



h3.feature-subject-white-two {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 50px 125px 25px 126px;
}
.feature-text-white-two {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 49px 51px 50px;
}


.feature-desc {
  width: 400px;
  text-align: center;
  background-color: var(--basic-blue);
}


.features-list-desc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 256px;
  list-style: none;
  text-align: center;
  background-color: #EEEEEE;
  margin: 0px;
  padding: 0px;
}

.dopfeatures-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
  background-color: var(--basic-white);
  padding: 0px;

}
.dopfeature-desc-pic {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 60px 162px 28px 162px;
}
.dopfeature-title {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 173px 25px 165px;
}
.dopfeature-text {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 62px 82px 73px;
}
.dopfeature-desc-pic-food {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 48px 165px 26px 162px;
}
.dopfeature-title-food {
  font-weight 700;
  line-height: 21px;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 165px 23px 173px;
}
.dopfeature-text-food {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 45px 100px 50px;
}
h3.feature-subject-three {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-black);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 47px 146px 25px 145px;

}
h3.feature-subject-four {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-black);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 47px 156px 25px 140px;
}

h3.feature-subject-five {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-black);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 47px 146px 25px 156px;
}
.feature-number-three {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 25px 175px 23px 179px;

}
.feature-number-four {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 25px 175px 23px 174px;
}

.feature-number-five {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 25px 146px 23px 160px;
}

.feature-text-three {
    font-weight: 400;
    line-height: 21px;
    color: var(--basic-grey);
    background-color: #EEEEEE;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 23px 84px 54px 101px;

  }
.feature-text-four {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 23px 65px 54px 60px;
}
.feature-text-five {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-grey);
  background-color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 23px 72px 54px 74px;
}




/*map*/
.map {
  width: 1200px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*modal*/
.modal-strong {
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 58px 465px 4px 446px;

}
.modal-popup {
  display: block;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 568px;
  height: 395px;
  margin: 0px 322px 50px 315px;
  border-style: solid;
}
.search-item{
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-item-people {
  display:inline;

  margin-top: 0px;
  margin-bottom: 0px;
}



.modal-info {
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 450px 0px 430px;
}
.modal-info-text {
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 380px 24px 385px;
  text-transform: uppercase;
}

.button-search {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: #766357;
  margin: 24px 324px 0px 316px;
  width: 568px;
  height: 86px;
  text-transform: uppercase;
}
.search-label {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  margin: 61px 21px 41px 0px;
  text-transform: uppercase;
}


.search-btn-minus {
  color: #A9A9A9;;
  background-color: #F2F2F2;
  width: 12px;
  height: 3px;
}

.search-btn-plus{
  color: #A9A9A9;;
  background-color: #F2F2F2;
  width: 11px;
  height: 11px;
}
.search-input {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: #F2F2F2;
  margin: 55px 55px 29px 21px;
  width: 346px;
  height: 38px;
  text-transform: uppercase;
}
.search-btn-calendar {
  width: 21px;
  height: 23px;
  margin: 62px 64px 37px 0px;
}
.search-submit {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: #81B3D2;
  width: 458px;
  height: 58px;
  text-transform: uppercase;
}
/*footer*/
.main-footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}
/*contacts*/
.contacts {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 23px 881px 9px 153px;
  text-transform: uppercase;


  }
.phone {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px 143px 36px 111px;
  text-transform: uppercase;

  }


/*social*/

.social-list {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.social-item {
  background-color: #81B3D2;
}
.social-link-twitter{
color: #EEEEEE;
margin: 36px 6px 36px 0px;

}
.social-link-fb {
  color: #EEEEEE;
  margin: 36px 6px 36px 6px;
}
.social-link-ytb {
  color: #EEEEEE;
  margin: 36px 190px 36px 6px;
}

.copyright-text {
  font-weight: 700;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000000;
  margin: 49px 0px 45px 190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}
.copyright-link {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 38px 138px 41px 8px;
}

/*filters*/
.filters-desc-img {
background-image: url("../img/background.jpg");
width: 1200px;
height: 217px;
}





/*parameters*/
.parameters-list {
  list-style: none;
}
.legend-parameters {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
 }
.label-pool {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.label-parking{
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.label-wi-fi {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.label-hotel {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.label-motel {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.label-apartments {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.legend-text {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
}
.input-price {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
.search-submit-sum {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}
/*div-info*/
.info-text {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.info-number {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.info-desc {
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.breadcrumbs-list {
  list-style: none;
}
.item-price-link {
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-white);
}
.item-type-link {
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.item-rating-link {
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*SLIDER*/
.slider-list {
  list-style: none;
}

/*catalog-list*/
.catalog-list {
  list-style: none;
}
.catalog-link {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.catalog-text {
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.catalog-price {
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.desc-info-link {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.desc-check-link {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.meta-text {
  font-weight: 400;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2;
}
.meta-number {
  font-weight: 400;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2;
}
